git lfs track "*.png"
git lfs track "*.jpg"
git lfs track "*.psd"
git lfs track "*.fbx"
git lfs track "*.obj"
git lfs track "*.mp3"
git lfs track "*.wav"
git lfs track "*.mp4"
git lfs track "*.mov"
git lfs track "*.tga"
git lfs track "*.tiff"
git lfs track "*.hdr"
git lfs track "*.exr"
git lfs track "*.cubemap"
git lfs track "*.unitypackage"
git lfs track "*.asset"
git lfs track "*.prefab"